[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=sudo -u kgb33 kmonad -l error %E/kmonad/conf.kbd
Nice=-20

[Install]
After=default.target
