[Unit]
Description=Updates all packages installed with pipx.
Requires=pipxUpdate.service

[Timer]
# Update on monday at 00:00:00 or next avalable chance.
Unit=pipxUpdate.service
OnCalendar=Weekly
Persistant=true

[Install]
WantedBy=timers.target