[Unit]
Description=Updates all packages installed with pipx.
Wants=pipxUpdate.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo -u kgb33 /usr/bin/pipx upgrade-all

[Install]
WantedBy=default.target
