@import "gruvbox.scss";

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.top_bar {
  color: $foreground;
  padding: 5px;
  font-size: 1em;
  font-family: Hack Regular;
}

.icon-module {
  margin: 0 5px;
  & > &__icon {
    margin-right: 10px;
    font-family: "Iosevka Nerd Font";
  }
}

// ##### Workspaces #####
.workspace-active {
	color: $green;
}

// ##### Docker Icon #####
.docker-icon {
	color: $blue;
}
 
// ##### Notifications #####

.notification {
	background-color: $background;
	border: 3px solid;
	border-radius: 20px;
}
.notification-0 {
	border-color: $lightblue;
}
.notification-1 {
	border-color: $lightgreen;
}
.notification-2 {
	border-color: $lightred;
}

// ##### Battery ######
.battery-charging {
	color: #FDD023;
}
.battery-critical{
	color: $urgent;
}
.battery-low {
	color: $yellow;
}
.battery-high {
	color: $lightgreen;
}
.battery-full {
	color: $green;
}

