@import "gruvbox.scss";

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.top_bar {
  background-color: $background;
  color: $foreground;
  padding: 5px;
  font-size: 1em;
  font-family: Hack Regular;
}

.workspace-active {
	background-color: $background-alt;
}
 
.notification {
	background-color: $background;
	border: 3px solid;
	border-radius: 20px;
}
.notification-0 {
	border-color: $lightblue;
}
.notification-1 {
	border-color: $lightgreen;
}
.notification-2 {
	border-color: $lightred;
}

.icon-module {
  margin: 0 5px;
  & > &__icon {
    margin-right: 10px;
    font-family: "Iosevka Nerd Font";
  }
}
