* {
    border: none;
    border-radius: 0px;
    font-family: "fira";
    font-size: 12px;
    min-height: 0;
    color: #ebdbb2;
}

window#waybar {
    border-bottom-style: inset;
    border-bottom: 2px solid #689d6a;
    background: #1d2021;
}

#workspaces {
	margin: 0 5px;
}

#workspaces button {
	padding: 0 3px;
}

/* Workspace Buttons */
#workspaces button label{
    color: #689d6a;
}
#workspaces button.focused label {
    color: #1d2021;
}
#workspaces button.focused {
    background: #689d6a; 
}

#mode {
    background-color: #cc241d;
    color: white;
}

#clock, #battery, #cpu, #memory, #network, #mode {
    padding: 0 5px;
    margin: 0px;
}

#clock {
    margin: 0;
    color: #fabd2f;
    border-bottom: 2px solid #fabd2f;
}


#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}
